{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-descending-specificity": null,
    "number-leading-zero": null,
    "font-family-no-missing-generic-family-keyword": null,
    "declaration-colon-newline-after": "always-multi-line",
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "v-deep"
        ]
      }
    ]
  }
}
